apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: laravel-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          resources:
            requests:
              memory: '128Mi'
              cpu: '250m'
            limits:
              memory: '512Mi'
              cpu: '500m'
          image: redis:7-alpine
          ports:
            - containerPort: 6379
          args:
            - '--save'
            - ''
            - '--appendonly'
            - 'no'
